.tab__btn {
  position: relative;
  text-wrap-mode:nowrap;
}

.tab__btn:active {
  opacity: 0.5;
}
.tab__btn.active {
  color: white;
  font-weight: 600;
}

.categories_tab_container .active {
  position: relative;
  z-index: 1;
}

.tab__btn.active::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  border-radius: 5px;
  z-index: -1;
  transform: scale(0);
  transform-origin: center;
  animation: active_animation 0.2s forwards;
}

@keyframes active_animation {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.categories_container::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background: #ffffff;
  background: linear-gradient(90deg, rgba(255, 255, 255, 1) 20%, rgba(26, 25, 25, 0) 80%);
  width: 20%;
  z-index: 5;
}

.categories_container::after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  background: #ffffff;
  background: linear-gradient(-90deg, rgba(255, 255, 255, 1) 20%, rgba(26, 25, 25, 0) 80%);
  width: 20%;
  z-index: 5;
}

.tag {
  color: rgb(0, 68, 255);
  font-weight: 900;
}
.description__url {
  color: rgba(0, 68, 255, 0.849);
  font-weight: 900;
}

.channel__tab {
  position: relative;
}

.channel__tab::after {
  content: '';
  background-color: black;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 80px;
  transition: ease-in-out 0.3s;
}

.channel__tab.active1::after {
  transform: translateX(0px);
}

.channel__tab.active2::after {
  transform: translateX(80px);
}

.channel__tab.active3::after {
  transform: translateX(170px);
}
.playlist__card {
  isolation: isolate;
}

.playlist__card .cover::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 20px;
  top: 0;
  z-index: -1;
  background-color: rgb(206, 164, 240);
  border-radius: 10px;
  transform: translate(1px, -15px) scale(0.9) skew(-5deg, 3deg);
}

.playlist__card .cover::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 20px;
  top: 0;
  z-index: -1;
  background-color: rgb(230, 230, 230);
  border-radius: 10px;
  transform: translate(1px, -24px) scale(0.9) skew(-10deg, 6deg);
}

.animate__arrive__right__left {
  animation: arrive-right-left 1s linear forwards;
}

@keyframes arrive-right-left {
  from {
    transform: translateX(50px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

.avatar__cropper .cropper-view-box,
.avatar__cropper .cropper-face {
  border-radius: 50% !important;
  /* width: 300px !important;
  height: 300px !important; */
}



.loader-spinner-primary{
  --d:22px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  color: var(--color-primary);
  box-shadow: 
    calc(1*var(--d))      calc(0*var(--d))     0 0,
    calc(0.707*var(--d))  calc(0.707*var(--d)) 0 1px,
    calc(0*var(--d))      calc(1*var(--d))     0 2px,
    calc(-0.707*var(--d)) calc(0.707*var(--d)) 0 3px,
    calc(-1*var(--d))     calc(0*var(--d))     0 4px,
    calc(-0.707*var(--d)) calc(-0.707*var(--d))0 5px,
    calc(0*var(--d))      calc(-1*var(--d))    0 6px;
  animation: l27 1s infinite steps(8);
}
@keyframes l27 {
  100% {transform: rotate(1turn)}
}
@keyframes l25 {
  100% {transform: rotate(1turn)}
}

.page-loader {
  /* HTML: <div class="loader"></div> */
  width: 65px;
  aspect-ratio: 1;
  position: relative;
}

.page-loader:after {
  content: "";
  position: absolute;
  border-radius: 50px;
  background-color: var(--color-primary);
  /* box-shadow: 0 0 0 3px inset var(--color-primary); */
  animation: l4 2.5s infinite;
}
.page-loader:before {
  
  content: "";
  position: absolute;
  border-radius: 50px;
  background-color: var(--color-secondary);
  /* box-shadow: 0 0 0 3px inset var(--color-secondary); */
  animation: l4 2.5s infinite;
  
}

.page-loader:after {
  animation-delay: -1.25s;
}
@keyframes l4 {
  0% {
    inset: 0 35px 35px 0;
  }
  12.5% {
    inset: 0 35px 0 0;
  }
  25% {
    inset: 35px 35px 0 0;
  }
  37.5% {
    inset: 35px 0 0 0;
  }
  50% {
    inset: 35px 0 0 35px;
  }
  62.5% {
    inset: 0 0 0 35px;
  }
  75% {
    inset: 0 0 35px 35px;
  }
  87.5% {
    inset: 0 0 35px 0;
  }
  100% {
    inset: 0 35px 35px 0;
  }
}





.video__progress__circle {
  transform: rotate(-90deg);
}


.video__progress__circle circle:nth-child(1) {
  stroke: black;
  stroke-width: 10px;
  stroke-linecap: round;
}


.video__progress__circle circle:nth-child(2) {
  stroke: var(--color-primary);
  stroke-width: 12px;
  stroke-linecap: round;
  transition: 1s ease-in;
  
}


.video__progress__circle__container .progress__percentage {
  transform: translate(-50%,-50%);
}